<?xml version="1.0" encoding="UTF-8"?>

<!--
see : https://logging.apache.org/log4j/2.x/manual/appenders.html
 -->
<Configuration status="WARN">

    <Properties>
        <Property name="serverhome" value="${sys:catalina.home:-./logs}"/>
        <Property name="rollingsize" value="500MB"/>
        <Property name="rollingcount" value="20"/>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" disableAnsi="false" noConsoleNoAnsi="false">
                <pattern>%highlight{[%-5p] %c{1.} : %m %varsNotEmpty{\nquerydsl.parameters:%X{querydsl.parameters}}}{FATAL=bright red,
                    ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white}%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>

        <Logger name="com.zaxxer.hikari" level="FATAL"/>

        <Logger name="io.undertow" level="INFO"/>

        <Logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

        <Logger name="org.hibernate" level="WARN"/>

        <Logger name="org.hibernate.SQL" level="DEBUG"/>

        <Logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

        <Logger name="org.hibernate.type.CollectionType" level="WARN"/>

        <Logger name="com.querydsl.sql" level="ALL"/>

        <Logger name="com.mitchellbosecke.pebble.spring" level="WARN"/>

        <Logger name="org.springframework.boot.diagnostics" level="DEBUG"/>

        <Logger name="org.springframework.boot" level="FATAL"/>

        <Logger name="org.springframework.orm" level="FATAL"/>

        <Logger name="org.springframework.web" level="WARN"/>

        <Logger name="org.springframework.messaging" level="WARN"/>

        <Logger name="org.springframework" level="WARN"/>

        <Logger name="org.springframework.security" level="WARN"/>

        <Logger name="org.example" level="DEBUG"/>

        <Logger name="org.apache.hc" level="TRACE"/>

        <Logger name="jdbc.sqlonly" level="OFF"/>
        <Logger name="jdbc.sqltiming" level="DEBUG"/>
        <Logger name="jdbc.audit" level="OFF"/>
        <Logger name="jdbc.resultset" level="OFF"/>
        <Logger name="jdbc.resultsettable" level="DEBUG"/>
        <Logger name="jdbc.connection" level="OFF"/>

        <Root level="WARN" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
        </Root>

    </Loggers>
</Configuration>